/*ESTILIZAÇÃO DO BOTÃO DO HTML*/
button{
    background-color: #2563eb;
    padding: 20px 10px;
    width: 100px;
    border: 20px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

/*CUROSOR DO MOUSE AO PASSAR NO BOTÃO*/

button:hover{
    background-color: #1d4ed8;
}


.container{
    width: 500px;
    overflow: hidden;
    border-radius:15px;
    margin: auto;
}

.container img{
    background-position: center;
    width: 100%;
    transition: 0.5s;
}
.container img:hover{
    transform: scale(1.1);
}

